<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<title>首页</title>
	<!-- Bootstrap core CSS -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link th:href="@{/bootstrap/ie10-viewport-bug-workaround.css}" rel="stylesheet" />
	<link th:href="@{/bootstrap/signin.css}" rel="stylesheet" />
	<script th:src="@{/bootstrap/ie-emulation-modes-warning.js}"></script>

</head>

<body>

<div class="container">

	<form class="form-signin">
		<h2 class="form-signin-heading">登录12306</h2>
		<label for="username" class="sr-only">12306账号：</label>
		<input type="text" id="username" class="form-control" placeholder="12306账号" value="" />
		<label for="password" class="sr-only">12306密码</label>
		<input type="password" id="password" class="form-control" placeholder="12306密码"  value=""/>

		<div id="captcha" style="height: 200px;">
			<table id="captcha_table" style="position:absolute; z-index:2;width: 300px;height: 180px;" >
				<tr>
					<td><input type="checkbox" name="position" value="0" /> </td>
					<td><input type="checkbox" name="position" value="1" /> </td>
					<td><input type="checkbox" name="position" value="2" /> </td>
					<td><input type="checkbox" name="position" value="3" /> </td>
				</tr>
				<tr>
					<td><input type="checkbox" name="position" value="4"/>  </td>
					<td><input type="checkbox" name="position" value="5" /> </td>
					<td><input type="checkbox" name="position" value="6" /> </td>
					<td><input type="checkbox" name="position" value="7" /> </td>
				</tr>
			</table>
			<img id="captcha_img" th:src="@{/ticket/getCaptcha}" style="position:absolute; z-index:1" />
		</div>


<!--		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me" /> 记住我
			</label>
		</div>-->

	</form>
	<div class="form-signin">
		<button class="btn btn-lg btn-primary btn-block" type="button" onclick="submitForm();">登录</button>
	</div>
</div>



<script th:src="@{/bootstrap/ie10-viewport-bug-workaround.js}"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
    var context = [[@{/}]];

	function submitForm() {
        check_captcha();
    }

    function check_captcha(){
        var captcha=$("input:checkbox:checked").map(function(){
            return $(this).val();
        }).get().join(",");
        var url_check_captcha = context+"ticket/checkCaptcha?captcha="+captcha;
        $.get(url_check_captcha,function (data) {
			if(data.code==1){
				//登录
                doLogin();
			}else{
				//重新获取验证码
				$("#captcha_img").attr("src",context+"ticket/getCaptcha");
        	}
        })
    }

    function doLogin() {
        var url = context+"ticket/doLogin";
        var username = $("#username").val();
        var password = $("#password").val();
        $.get(url,{"username":username,"password":password},function (data) {
            if(data.code==1){
                //登录
				//alert("登录成功!");
				window.location.href=context+"ticket/toTicket";
            }else{
                alert("登录失败，请重新登录");
                location.reload();
            }
        })
    }

</script>


</body>
</html>
