<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<title>首页</title>
	<!-- Bootstrap core CSS -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link th:href="@{/bootstrap/ie10-viewport-bug-workaround.css}" rel="stylesheet" />
	<link th:href="@{/bootstrap/signin.css}" rel="stylesheet" />
	<script th:src="@{/bootstrap/ie-emulation-modes-warning.js}"></script>

</head>

<body>
	<div class="container">

		<div class="row">
			<div class="col-md-3">出发地：
				<div class="input-group">
					<input type="text" class="form-control" id="from_station" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">目的地：
				<div class="input-group">
					<input type="text" class="form-control" id="to_station" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				日期：<input type="date" id="train_date" class="form-control" />
			</div>

			<div class="col-md-3">
				<input type="button" class="btn btn-primary" value="查询" onclick="queryTrains()"/>
			</div>
		</div>
	</div>

	<script th:src="@{/bootstrap/ie10-viewport-bug-workaround.js}"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:src="@{/bootstrap/bootstrap-suggest.js}"></script>
	<script th:src="@{/12306/stations_data.js}"></script>
	<script th:src="@{/ticket/bsSuggest.js}"></script>
	<script th:src="@{/ticket/querytrain.js}"></script>


	<script th:inline="javascript">
        var context = [[@{/}]];
	</script>

</body>
</html>
