<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<title>首页</title>
	<!-- Bootstrap core CSS -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link th:href="@{/bootstrap/ie10-viewport-bug-workaround.css}" rel="stylesheet" />
	<link th:href="@{/bootstrap/signin.css}" rel="stylesheet" />
	<script th:src="@{/bootstrap/ie-emulation-modes-warning.js}"></script>

</head>

<body>
	<div class="container">

		<div class="row">
			<div class="col-md-3">出发地：
				<div class="input-group">
					<input type="text" class="form-control" id="from_station" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">目的地：
				<div class="input-group">
					<input type="text" class="form-control" id="to_station" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				日期：<input type="date" id="train_date" class="form-control" />
			</div>

			<div class="col-md-3">
				<input type="button" class="btn btn-primary" value="查询" onclick="queryTrains()"/>
			</div>
		</div>

		<div class="row" style="height: 500px;overflow-y:auto;overflow-x:hidden;">
			<table id="ticket_table" class="table table-bordered table-condensed">
				<thead>
				<tr>
					<th>车次</th>
					<th>出发地</th>
					<th>目的地</th>
					<th>历时</th>
					<th>商务/特等</th>
					<th>一等座</th>
					<th>二等座</th>
					<th>高级软卧</th>
					<th>软卧</th>
					<th>动卧</th>
					<th>硬卧</th>
					<th>软座</th>
					<th>硬座</th>
					<th>无座</th>
					<th>其它</th>
					<th>日期</th>
					<th>操作</th>
				</tr>
				</thead>
			</table>

		</div>



		<div class="row">

			<div class="col-md-3">
				<table id="passenger" class="table table-bordered table-condensed">
					<caption>选择乘客</caption>
					<thead>
					<tr>
						<th>姓名</th>
					</tr>
					</thead>
				</table>
			</div>
			<div class="col-md-3">
				<table class="table table-bordered table-condensed">
					<caption>选择席位</caption>
					<thead>
					<tr>
						<th>席位</th>
					</tr>
					</thead>
					<tbody>
						<tr>    <td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 硬卧 </td> </tr>
						<tr>    <td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 硬座 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 二等座 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 一等座 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 无座 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 软卧 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 动卧 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 软座 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 商务座 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 特等座 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 高级软卧 </td> </tr>
						<tr>	<td> <input type="checkbox" name="xw" /> &nbsp;&nbsp; 其他 </td> </tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-3">
				<table id="selectcc" class="table table-bordered table-condensed">
					<caption>已选车次</caption>
					<thead>
					<tr>
						<th>车次</th>
					</tr>
					</thead>
					<tbody>

					</tbody>
				</table>


			</div>
			<div class="col-md-3">
				<table class="table table-bordered table-condensed">
					<caption>设置</caption>
					<tbody>
					<tr> <td> <input type="checkbox" name="xw" />  修改间隔 <input type="number" value="3000" />  </td> </tr>
					</tbody>
				</table>

			</div>
		</div>


	</div>



	<script th:src="@{/bootstrap/ie10-viewport-bug-workaround.js}"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:src="@{/bootstrap/bootstrap-suggest.js}"></script>
	<script th:src="@{/12306/stations_data.js}"></script>
	<script th:src="@{/ticket/bsSuggest.js}"></script>
	<script th:src="@{/ticket/querytrain.js}"></script>
	<script th:src="@{/ticket/getPassenger.js}"></script>


	<script th:inline="javascript">
        var context = [[@{/}]];
	</script>

</body>
</html>
